<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<base href=".">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="format-detection" content="telephone=no,email=no">
<meta name="theme-color" content="#42d3a5">
<link rel="shortcut icon"
	href="http://192.168.11.87:8788/assets/img/favicon.png"
	type="image/png">
<title>山东国子软件股份有限公司</title>
<link th:href="@{/css/chunk-common.2cd84e18.css}" rel="stylesheet">
<link th:href="@{/css/chunk-common.2cd84e18.css}" rel="stylesheet">
<link th:href="@{/css/sba-core.80e2ff1d.css}" rel="stylesheet">
<link th:href="@{/css/chunk-common.2cd84e18.css}" rel="stylesheet">
<link th:href="@{/css/sba-core.80e2ff1d.css}" rel="stylesheet">
<link th:href="@{/css/index.css}" rel="stylesheet">
<link th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>
	<div id="app">
		<nav id="navigation" class="navbar is-fixed-top"
			applications-initialized="true">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item logo is-active"> <img
						src="/images/icon-spring-boot-admin.svg"> <span>
							山东国子软件股份有限公司 </span>
					</a>
					<div class="navbar-burger burger">
						<span> </span> <span> </span> <span> </span>
					</div>
				</div>
				<div class="navbar-menu">
					<div class="navbar-end">
						<a class="navbar-item"> 应用墙 </a> <a href="/index"
							class="navbar-item"> 应用 </a> <a href="/log" class="navbar-item">
							日志报表 </a> <a class="navbar-item"> 关于我们 </a>
						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link"> <svg aria-hidden="true"
									focusable="false" data-prefix="fas" data-icon="user-circle"
									role="img" xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 496 512"
									class="svg-inline--fa fa-user-circle fa-w-16 fa-lg">
										<path fill="currentColor"
										d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"
										class="">
										</path>
									</svg> <span> user </span>
							</a>
							<div class="navbar-dropdown">
								<a class="navbar-item">
									<form method="post">
										<!---->
										<button type="submit" value="logout" class="button is-icon">
											<svg aria-hidden="true" focusable="false" data-prefix="fas"
												data-icon="sign-out-alt" role="img"
												xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
												class="svg-inline--fa fa-sign-out-alt fa-w-16">
													<path fill="currentColor"
													d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"
													class="">
													</path>
												</svg>
											<span> 注销 </span>
										</button>
									</form>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<section class="section" views="">
			<div class="container">
				<!---->
				<!---->
				<div class="level">
					<div class="level-item has-text-centered">
						<div>
							<p class="heading">应用</p>
							<p class="title">2</p>
						</div>
					</div>
					<div class="level-item has-text-centered">
						<div>
							<p class="heading">实例</p>
							<p class="title">2</p>
						</div>
					</div>
					<div class="level-item has-text-centered">
						<div>
							<p class="heading">实例状态</p>
							<p class="title has-text-success">全部在线</p>
						</div>
					</div>
				</div>
				<!--网关列表-->
				<div class="application-group">
					<p class="heading head-list">网关列表</p>
					<div class="applications-list">
						<!--网关1-->
						<div class="application-list-item card"
							id="SPRING-BOOT-ADMIN-SAMPLE-EUREKA">
							<header class="hero application-list-item__header is-selectable">
								<div class="application-summary">
									<div class="application-status application-summary__status">
										<svg aria-hidden="true" focusable="false" data-prefix="fas"
											data-icon="check" role="img"
											xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
											class="application-status__icon svg-inline--fa fa-check fa-w-16 application-status__icon--UP">
												<path fill="currentColor"
												d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
												class="">
												</path>
											</svg>
										<small> 21m </small>
									</div>
									<p class="application-summary__name">
										<span> SPRING-BOOT-ADMIN-SAMPLE-EUREKA </span> <br> <span
											class="is-muted"> <a
											href="http://PC-20191119HG08:8788/">
												http://PC-20191119HG08:8788/ </a>
										</span>
									</p>
									<p class="application-summary__version"></p>
								</div>
								<div class="application-list-item__header__actions">
									<a href="/journal?application=SPRING-BOOT-ADMIN-SAMPLE-EUREKA"
										class="button icon-button"> <svg aria-hidden="true"
											focusable="false" data-prefix="fas" data-icon="history"
											role="img" xmlns="http://www.w3.org/2000/svg"
											viewBox="0 0 512 512"
											class="svg-inline--fa fa-history fa-w-16">
												<path fill="currentColor"
												d="M504 255.531c.253 136.64-111.18 248.372-247.82 248.468-59.015.042-113.223-20.53-155.822-54.911-11.077-8.94-11.905-25.541-1.839-35.607l11.267-11.267c8.609-8.609 22.353-9.551 31.891-1.984C173.062 425.135 212.781 440 256 440c101.705 0 184-82.311 184-184 0-101.705-82.311-184-184-184-48.814 0-93.149 18.969-126.068 49.932l50.754 50.754c10.08 10.08 2.941 27.314-11.313 27.314H24c-8.837 0-16-7.163-16-16V38.627c0-14.254 17.234-21.393 27.314-11.314l49.372 49.372C129.209 34.136 189.552 8 256 8c136.81 0 247.747 110.78 248 247.531zm-180.912 78.784l9.823-12.63c8.138-10.463 6.253-25.542-4.21-33.679L288 256.349V152c0-13.255-10.745-24-24-24h-16c-13.255 0-24 10.745-24 24v135.651l65.409 50.874c10.463 8.137 25.541 6.253 33.679-4.21z"
												class="">
												</path>
											</svg>
									</a>
									<!---->
									<!---->
								</div>
							</header>
							<!---->
						</div>
						<!--网关1-->
						<div class="application-list-item card"
							id="SPRING-BOOT-ADMIN-SAMPLE-EUREKA">
							<header class="hero application-list-item__header is-selectable">
								<div class="application-summary">
									<div class="application-status application-summary__status">
										<svg aria-hidden="true" focusable="false" data-prefix="fas"
											data-icon="check" role="img"
											xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
											class="application-status__icon svg-inline--fa fa-check fa-w-16 application-status__icon--UP">
												<path fill="currentColor"
												d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
												class="">
												</path>
											</svg>
										<small> 21m </small>
									</div>
									<p class="application-summary__name">
										<span> SPRING-BOOT-ADMIN-SAMPLE-EUREKA </span> <br> <span
											class="is-muted"> <a
											href="http://PC-20191119HG08:8788/">
												http://PC-20191119HG08:8788/ </a>
										</span>
									</p>
									<p class="application-summary__version"></p>
								</div>
								<div class="application-list-item__header__actions">
									<a href="/journal?application=SPRING-BOOT-ADMIN-SAMPLE-EUREKA"
										class="button icon-button"> <svg aria-hidden="true"
											focusable="false" data-prefix="fas" data-icon="history"
											role="img" xmlns="http://www.w3.org/2000/svg"
											viewBox="0 0 512 512"
											class="svg-inline--fa fa-history fa-w-16">
												<path fill="currentColor"
												d="M504 255.531c.253 136.64-111.18 248.372-247.82 248.468-59.015.042-113.223-20.53-155.822-54.911-11.077-8.94-11.905-25.541-1.839-35.607l11.267-11.267c8.609-8.609 22.353-9.551 31.891-1.984C173.062 425.135 212.781 440 256 440c101.705 0 184-82.311 184-184 0-101.705-82.311-184-184-184-48.814 0-93.149 18.969-126.068 49.932l50.754 50.754c10.08 10.08 2.941 27.314-11.313 27.314H24c-8.837 0-16-7.163-16-16V38.627c0-14.254 17.234-21.393 27.314-11.314l49.372 49.372C129.209 34.136 189.552 8 256 8c136.81 0 247.747 110.78 248 247.531zm-180.912 78.784l9.823-12.63c8.138-10.463 6.253-25.542-4.21-33.679L288 256.349V152c0-13.255-10.745-24-24-24h-16c-13.255 0-24 10.745-24 24v135.651l65.409 50.874c10.463 8.137 25.541 6.253 33.679-4.21z"
												class="">
												</path>
											</svg>
									</a>
									<!---->
									<!---->
								</div>
							</header>
							<!---->
						</div>
						<!--网关1-->
						<div class="application-list-item card"
							id="SPRING-BOOT-ADMIN-SAMPLE-EUREKA">
							<header class="hero application-list-item__header is-selectable">
								<div class="application-summary">
									<div class="application-status application-summary__status">
										<svg aria-hidden="true" focusable="false" data-prefix="fas"
											data-icon="check" role="img"
											xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
											class="application-status__icon svg-inline--fa fa-check fa-w-16 application-status__icon--UP">
												<path fill="currentColor"
												d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
												class="">
												</path>
											</svg>
										<small> 21m </small>
									</div>
									<p class="application-summary__name">
										<span> SPRING-BOOT-ADMIN-SAMPLE-EUREKA </span> <br> <span
											class="is-muted"> <a
											href="http://PC-20191119HG08:8788/">
												http://PC-20191119HG08:8788/ </a>
										</span>
									</p>
									<p class="application-summary__version"></p>
								</div>
								<div class="application-list-item__header__actions">
									<a href="/journal?application=SPRING-BOOT-ADMIN-SAMPLE-EUREKA"
										class="button icon-button"> <svg aria-hidden="true"
											focusable="false" data-prefix="fas" data-icon="history"
											role="img" xmlns="http://www.w3.org/2000/svg"
											viewBox="0 0 512 512"
											class="svg-inline--fa fa-history fa-w-16">
												<path fill="currentColor"
												d="M504 255.531c.253 136.64-111.18 248.372-247.82 248.468-59.015.042-113.223-20.53-155.822-54.911-11.077-8.94-11.905-25.541-1.839-35.607l11.267-11.267c8.609-8.609 22.353-9.551 31.891-1.984C173.062 425.135 212.781 440 256 440c101.705 0 184-82.311 184-184 0-101.705-82.311-184-184-184-48.814 0-93.149 18.969-126.068 49.932l50.754 50.754c10.08 10.08 2.941 27.314-11.313 27.314H24c-8.837 0-16-7.163-16-16V38.627c0-14.254 17.234-21.393 27.314-11.314l49.372 49.372C129.209 34.136 189.552 8 256 8c136.81 0 247.747 110.78 248 247.531zm-180.912 78.784l9.823-12.63c8.138-10.463 6.253-25.542-4.21-33.679L288 256.349V152c0-13.255-10.745-24-24-24h-16c-13.255 0-24 10.745-24 24v135.651l65.409 50.874c10.463 8.137 25.541 6.253 33.679-4.21z"
												class="">
												</path>
											</svg>
									</a>
									<!---->
									<!---->
								</div>
							</header>
							<!---->
						</div>
					</div>
				</div>
				<!--应用列表-->
				<div class="application-group">
					<p class="heading head-list">应用列表</p>
					<div class="applications-list">
						<!--应用1-->
						<div class="application-list-item card"
							id="SPRING-BOOT-ADMIN-SAMPLE-EUREKA">
							<header class="hero application-list-item__header is-selectable">
								<div class="application-summary">
									<div class="application-status application-summary__status">
										<svg aria-hidden="true" focusable="false" data-prefix="fas"
											data-icon="check" role="img"
											xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
											class="application-status__icon svg-inline--fa fa-check fa-w-16 application-status__icon--UP">
												<path fill="currentColor"
												d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
												class="">
												</path>
											</svg>
										<small> 21m </small>
									</div>
									<p class="application-summary__name">
										<span> SPRING-BOOT-ADMIN-SAMPLE-EUREKA </span> <br> <span
											class="is-muted"> <a
											href="http://PC-20191119HG08:8788/">
												http://PC-20191119HG08:8788/ </a>
										</span>
									</p>
									<p class="application-summary__version"></p>
								</div>
								<div class="application-list-item__header__actions">
									<a href="/journal?application=SPRING-BOOT-ADMIN-SAMPLE-EUREKA"
										class="button icon-button"> <svg aria-hidden="true"
											focusable="false" data-prefix="fas" data-icon="history"
											role="img" xmlns="http://www.w3.org/2000/svg"
											viewBox="0 0 512 512"
											class="svg-inline--fa fa-history fa-w-16">
												<path fill="currentColor"
												d="M504 255.531c.253 136.64-111.18 248.372-247.82 248.468-59.015.042-113.223-20.53-155.822-54.911-11.077-8.94-11.905-25.541-1.839-35.607l11.267-11.267c8.609-8.609 22.353-9.551 31.891-1.984C173.062 425.135 212.781 440 256 440c101.705 0 184-82.311 184-184 0-101.705-82.311-184-184-184-48.814 0-93.149 18.969-126.068 49.932l50.754 50.754c10.08 10.08 2.941 27.314-11.313 27.314H24c-8.837 0-16-7.163-16-16V38.627c0-14.254 17.234-21.393 27.314-11.314l49.372 49.372C129.209 34.136 189.552 8 256 8c136.81 0 247.747 110.78 248 247.531zm-180.912 78.784l9.823-12.63c8.138-10.463 6.253-25.542-4.21-33.679L288 256.349V152c0-13.255-10.745-24-24-24h-16c-13.255 0-24 10.745-24 24v135.651l65.409 50.874c10.463 8.137 25.541 6.253 33.679-4.21z"
												class="">
												</path>
											</svg>
									</a>
									<!---->
									<!---->
								</div>
							</header>
							<!---->
						</div>
						<!--应用1-->
						<div class="application-list-item card"
							id="SPRING-BOOT-ADMIN-SAMPLE-EUREKA">
							<header class="hero application-list-item__header is-selectable">
								<div class="application-summary">
									<div class="application-status application-summary__status">
										<svg aria-hidden="true" focusable="false" data-prefix="fas"
											data-icon="check" role="img"
											xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
											class="application-status__icon svg-inline--fa fa-check fa-w-16 application-status__icon--UP">
												<path fill="currentColor"
												d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
												class="">
												</path>
											</svg>
										<small> 21m </small>
									</div>
									<p class="application-summary__name">
										<span> SPRING-BOOT-ADMIN-SAMPLE-EUREKA </span> <br> <span
											class="is-muted"> <a
											href="http://PC-20191119HG08:8788/">
												http://PC-20191119HG08:8788/ </a>
										</span>
									</p>
									<p class="application-summary__version"></p>
								</div>
								<div class="application-list-item__header__actions">
									<a href="/journal?application=SPRING-BOOT-ADMIN-SAMPLE-EUREKA"
										class="button icon-button"> <svg aria-hidden="true"
											focusable="false" data-prefix="fas" data-icon="history"
											role="img" xmlns="http://www.w3.org/2000/svg"
											viewBox="0 0 512 512"
											class="svg-inline--fa fa-history fa-w-16">
												<path fill="currentColor"
												d="M504 255.531c.253 136.64-111.18 248.372-247.82 248.468-59.015.042-113.223-20.53-155.822-54.911-11.077-8.94-11.905-25.541-1.839-35.607l11.267-11.267c8.609-8.609 22.353-9.551 31.891-1.984C173.062 425.135 212.781 440 256 440c101.705 0 184-82.311 184-184 0-101.705-82.311-184-184-184-48.814 0-93.149 18.969-126.068 49.932l50.754 50.754c10.08 10.08 2.941 27.314-11.313 27.314H24c-8.837 0-16-7.163-16-16V38.627c0-14.254 17.234-21.393 27.314-11.314l49.372 49.372C129.209 34.136 189.552 8 256 8c136.81 0 247.747 110.78 248 247.531zm-180.912 78.784l9.823-12.63c8.138-10.463 6.253-25.542-4.21-33.679L288 256.349V152c0-13.255-10.745-24-24-24h-16c-13.255 0-24 10.745-24 24v135.651l65.409 50.874c10.463 8.137 25.541 6.253 33.679-4.21z"
												class="">
												</path>
											</svg>
									</a>
									<!---->
									<!---->
								</div>
							</header>
							<!---->
						</div>
						<!--应用1-->
						<div class="application-list-item card"
							id="SPRING-BOOT-ADMIN-SAMPLE-EUREKA">
							<header class="hero application-list-item__header is-selectable">
								<div class="application-summary">
									<div class="application-status application-summary__status">
										<svg aria-hidden="true" focusable="false" data-prefix="fas"
											data-icon="check" role="img"
											xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
											class="application-status__icon svg-inline--fa fa-check fa-w-16 application-status__icon--UP">
												<path fill="currentColor"
												d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
												class="">
												</path>
											</svg>
										<small> 21m </small>
									</div>
									<p class="application-summary__name">
										<span> SPRING-BOOT-ADMIN-SAMPLE-EUREKA </span> <br> <span
											class="is-muted"> <a
											href="http://PC-20191119HG08:8788/">
												http://PC-20191119HG08:8788/ </a>
										</span>
									</p>
									<p class="application-summary__version"></p>
								</div>
								<div class="application-list-item__header__actions">
									<a href="/journal?application=SPRING-BOOT-ADMIN-SAMPLE-EUREKA"
										class="button icon-button"> <svg aria-hidden="true"
											focusable="false" data-prefix="fas" data-icon="history"
											role="img" xmlns="http://www.w3.org/2000/svg"
											viewBox="0 0 512 512"
											class="svg-inline--fa fa-history fa-w-16">
												<path fill="currentColor"
												d="M504 255.531c.253 136.64-111.18 248.372-247.82 248.468-59.015.042-113.223-20.53-155.822-54.911-11.077-8.94-11.905-25.541-1.839-35.607l11.267-11.267c8.609-8.609 22.353-9.551 31.891-1.984C173.062 425.135 212.781 440 256 440c101.705 0 184-82.311 184-184 0-101.705-82.311-184-184-184-48.814 0-93.149 18.969-126.068 49.932l50.754 50.754c10.08 10.08 2.941 27.314-11.313 27.314H24c-8.837 0-16-7.163-16-16V38.627c0-14.254 17.234-21.393 27.314-11.314l49.372 49.372C129.209 34.136 189.552 8 256 8c136.81 0 247.747 110.78 248 247.531zm-180.912 78.784l9.823-12.63c8.138-10.463 6.253-25.542-4.21-33.679L288 256.349V152c0-13.255-10.745-24-24-24h-16c-13.255 0-24 10.745-24 24v135.651l65.409 50.874c10.463 8.137 25.541 6.253 33.679-4.21z"
												class="">
												</path>
											</svg>
									</a>
									<!---->
									<!---->
								</div>
							</header>
							<!---->
						</div>
					</div>
				</div>
				<!---->
				<!---->
			</div>
		</section>
		<!---->
	</div>
</body>
</html>