<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>登陆</title>
<link rel="shortcut icon" th:href="@{/favicon.ico}">
<link rel="stylesheet" th:href="@{/css/login/login.css}">
<link rel="stylesheet" th:href="@{/css/login/index.css}">
<link rel="stylesheet" th:href="@{/css/login/font-awesome.min.css}">
</head>
<body>
	<div id="app">
		<div class="divide-wrap">
			<div class="colorbar-before"></div>
			<div class="colorbar-after"></div>
			<div class="colorbar"></div>
		</div>
		<div class="row-bg el-row is-justify-center el-row--flex">
			<div
				class="el-col el-col-24 el-col-xs-24 el-col-sm-20 el-col-md-12 el-col-lg-6 el-col-xl-5">
				<div class="el-card logincontainer is-always-shadow">
					<div class="el-card__header">
						<div class="clearfix " style="text-align: center;">
							<span> 国子智库搜索 </span>
						</div>
					</div>
					<div class="el-card__body">
						<form class="el-form" auto-complete="off" method="post">
							<div class="el-form-item">
								<!---->
								<div class="el-form-item__content" style="margin-left: 0px;">
									<div class="el-input el-input-group el-input-group--prepend">
										<div class="el-input-group__prepend">
											<i class="fa fa-user"> </i>
										</div>
										<input type="text" autocomplete="off" name="username"
											placeholder="登录账号" class="el-input__inner">
										<!---->
										<!---->
										<!---->
									</div>
									<!---->
								</div>
							</div>
							<div class="el-form-item">
								<!---->
								<div class="el-form-item__content" style="margin-left: 0px;">
									<div class="el-input el-input-group el-input-group--prepend">
										<div class="el-input-group__prepend">
											<i class="fa fa-lock"> </i>
										</div>
										<input type="password" autocomplete="off" name="password"
											placeholder="登录密码" class="el-input__inner">
										<!---->
										<!---->
										<!---->
									</div>
									<!---->
								</div>
							</div>
							<!---->
							<div class="el-form-item">
								<!---->
								<div class="el-form-item__content" style="margin-left: 0px;">
									<label role="checkbox" class="el-checkbox pull-right">
										<span aria-checked="mixed" class="el-checkbox__input">
											<span class="el-checkbox__inner"> </span> <input
											type="checkbox" aria-hidden="true"
											class="el-checkbox__original" value="">
									</span> <span class="el-checkbox__label"> 记住我 <!---->
									</span>
									</label>
									<!---->
								</div>
							</div>
							<div class="el-form-item">
								<!---->
								<div class="el-form-item__content" style="margin-left: 0px;">
									<button type="button"
										class="el-button submit el-button--primary" onclick="login()">
										<!---->
										<!---->
										<span> 用户登录 </span>
									</button>
									<!---->
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script type="text/javascript">
	function login() {
		var username = $("input[name='username']")[0].value;
		var password = $("input[name='password']")[0].value;
		var user = {};
		user.userName = username;
		user.password = password;
		$.ajax({
			url : "/login",
			data:{userName:username,password:password},
			success : function(res) {
				alert(res)
			}
		});
	}
</script>
</html>